<div class="bg-gray-100 flex items-center justify-center min-h-screen p-6 sm:p-6 lg:p-6">
  <div class="w-full max-w-4x2 mx-auto bg-white p-5 rounded-2xl shadow-lg">
    <h2 class="text-2xl font-bold text-gray-800 mb-2">Cadastro de Novas Pessoas</h2>
    <p class="text-gray-600 mb-8">Preencha os campos abaixo para registrar uma nova pessoa.</p>
    <form [formGroup]="pessoaForm" (ngSubmit)="onSubmit()" >

      <fieldset class="mb-8">
        <legend class="text-lg font-semibold text-indigo-700 border-b border-indigo-200 w-full pb-2 mb-6">Dados de contato</legend>
        <div class="flex flex-col sm:flex-row sm:space-x-4">
            <div class="flex-1">
              <label class="block text-sm font-medium text-gray-700 mb-2">Tipo de Pessoa <span class="text-red-500">*</span></label>
              <div class="flex rounded-lg overflow-hidden border border-gray-300">
                <button
                  type="button"
                  name="tipo"
                  value="PF"
                  (click)="pessoaForm.get('tipo')?.setValue('PF')"
                  [ngClass]="{
                    'bg-blue-600 text-white font-semibold': isPessoaFisica,
                    'bg-gray-100 text-gray-700 hover:bg-gray-200': !isPessoaFisica
                  }"
                  class="flex-1 py-2 transition-colors duration-150"
                >
                  Pessoa Física (PF)
                </button>
                <button
                  type="button"
                  name="tipo"
                  value="PJ"
                  (click)="pessoaForm.get('tipo')?.setValue('PJ')"
                  [ngClass]="{
                    'bg-blue-600 text-white font-semibold': !isPessoaFisica,
                    'bg-gray-100 text-gray-700 hover:bg-gray-200': isPessoaFisica
                  }"
                  class="flex-1 py-2 transition-colors duration-150 border-l border-gray-300"
                >
                  Pessoa Jurídica (PJ)
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="isPessoaFisica" class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4 border rounded-lg bg-blue-50">
            <div class="md:col-span-2">
              <h3 class="text-lg font-semibold text-blue-800">Dados Pessoais</h3>
            </div>
            <div>
              <label for="cpf" class="block text-sm font-medium text-gray-700">CPF <span class="text-red-500">*</span></label>
              <input id="cpf" type="text" formControlName="cpf" inputmode="numeric"  mask="000.000.000-00" placeholder="000.000.000-00" type="text"
                class="mt-1 block w-full border rounded-md shadow-sm p-3 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
                [ngClass]="{'border-red-500': isInvalid('cpf'), 'border-gray-300': !isInvalid('cpf')}"
              >
              <ng-container *ngIf="isInvalid('cpf')">
                <p *ngIf="pessoaForm.get('cpf')?.errors?.['required']" class="mt-1 text-xs text-red-600">O CPF é obrigatório.</p>
                <p *ngIf="pessoaForm.get('cpf')?.errors?.['invalidCpf']" class="mt-1 text-xs text-red-600">O CPF informado é inválido.</p>
              </ng-container>
            </div>
            <div>
              <label for="nome" class="block text-sm font-medium text-gray-700">Nome Completo <span class="text-red-500">*</span></label>
              <input id="nome" type="text" formControlName="nome" placeholder="Nome completo"
                class="mt-1 block w-full border rounded-md shadow-sm p-3 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
                [ngClass]="{'border-red-500': isInvalid('nome'), 'border-gray-300': !isInvalid('nome')}"
              >
               <p *ngIf="pessoaForm.get('nome')?.errors?.['required'] && isInvalid('nome')" class="mt-1 text-xs text-red-600">O nome é obrigatório.</p>
            </div>
            <div>
               <label for="rg" class="block text-sm font-medium text-gray-700">RG</label>
              <input id="rg" type="text" formControlName="rg"  inputmode="numeric"  mask="00.000.000-00"  placeholder="00.000.000-00" type="text"
                class="mt-1 block w-full border rounded-md shadow-sm p-3 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
              >
            </div>
             <div>
              <label for="orgEmis" class="block text-sm font-medium text-gray-700">Orgão Emissor <span class="text-red-500"></span></label>
              <input id="orgEmis" type="text" formControlName="orgEmis" placeholder="Ex.: SSP - SP"    type="text"
                class="mt-1 block w-full border rounded-md shadow-sm p-3 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
              >
              </div>
              <div>
              <label for="dtEmis" class="block text-sm font-medium text-gray-700">Data expedição <span class="text-red-500"></span></label>
              <input id="dtEmis" type="text" formControlName="dtEmis" placeholder="99/99/9999" inputmode="date"
                  mask="99/99/9999"
                class="mt-1 block w-full border rounded-md shadow-sm p-3 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
              >
              </div>
          </div>
          <div *ngIf="!isPessoaFisica" class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4 border rounded-lg bg-green-50">
            <div class="md:col-span-2">
              <h3 class="text-lg font-semibold text-green-800">Dados Empresariais</h3>
            </div>
            <div>
              <label for="cnpj" class="block text-sm font-medium text-gray-700">CNPJ <span class="text-red-500">*</span></label>
              <input id="cnpj" type="text" formControlName="cnpj"  inputmode="numeric" mask="00.000.000/0000-00" placeholder="00.000.000/0000-00"
                 type="text"
                class="mt-1 block w-full border rounded-md shadow-sm p-3 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
                [ngClass]="{'border-red-500': isInvalid('cnpj'), 'border-gray-300': !isInvalid('cnpj')}"
              >
              <ng-container *ngIf="isInvalid('cnpj')">
                <p *ngIf="pessoaForm.get('cnpj')?.errors?.['required']" class="mt-1 text-xs text-red-600">O CNPJ é obrigatório.</p>
                <p *ngIf="pessoaForm.get('cnpj')?.errors?.['invalidCnpj']" class="mt-1 text-xs text-red-600">O CNPJ informado é inválido.</p>
              </ng-container>
            </div>
            <div>
              <label for="nmFantasia" class="block text-sm font-medium text-gray-700">Nome Fantasia <span class="text-red-500">*</span></label>
              <input id="nmFantasia" type="text" formControlName="nmFantasia" placeholder="Nome Fantasia"
                class="mt-1 block w-full border rounded-md shadow-sm p-3 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
                [ngClass]="{'border-red-500': isInvalid('razaoSocial'), 'border-gray-300': !isInvalid('razaoSocial')}"
              >
              <p *ngIf="pessoaForm.get('razaoSocial')?.errors?.['required'] && isInvalid('razaoSocial')" class="mt-1 text-xs text-red-600">A Razão Social é obrigatória.</p>
            </div>

            <div class="md:col-span-2">
              <label for="rzSocial" class="block text-sm font-medium text-gray-700">Razão Social <span class="text-red-500">*</span></label>
              <input id="rzSocial" type="text" formControlName="rzSocial" placeholder="Razão Social"
                class="mt-1 block w-full border rounded-md shadow-sm p-3 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
                [ngClass]="{'border-red-500': isInvalid('nomeFantasia'), 'border-gray-300': !isInvalid('nomeFantasia')}"
              >
              <p *ngIf="pessoaForm.get('nomeFantasia')?.errors?.['required'] && isInvalid('nomeFantasia')" class="mt-1 text-xs text-red-600">O Nome Fantasia é obrigatório.</p>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
              <div class="md:col-span-2"></div>
          </div>
        </fieldset>

        <fieldset>
           <div class="md:col-span-2">
                 <legend class="text-lg font-semibold text-indigo-700 border-b border-indigo-200 w-full pb-2 mb-6">Contato (Celular, whatsapp, email) </legend>
              </div>
          <div  class="grid  md:grid-cols-4 ">
            <div>
                <label for="celular" class="block text-sm font-medium text-gray-700">Celular <span class="text-red-500">*</span></label>
                <input  id="celular" type="text" mask="(00) 0 0000-0000" formControlName="celular" placeholder="Celular"
                class="mt-1 py-1 w-40 bg-transparent placeholder:text-slate-500 text-slate-700 text-lg border border-slate-200 rounded-md pr-3 pl-2 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow">
            </div>
            <div >
                <label for="zap" class="block  text-sm font-medium text-gray-700">WhatsApp </label>
                <input
                  id="zap"
                  type="checkbox"
                  formControlName="zap"
                  [(ngModel)]="isChecked"
                  type="checkbox"
                  class="w-8 h-10
                   hover:bg-gray-300 focus:ring-green-500"
                />
            </div>
            <div >
              <div>
               <label for="email" class="mt- block  text-sm font-medium text-gray-700">Email </label>
               <input id="email" type="text" formControlName="email" placeholder="Email"
                class="mt-1  py-2 w-100  bg-transparent placeholder:text-slate-500 text-slate-700 text-lg border border-slate-200 rounded-md  pl-2 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow">
            </div>

           </div>
</div>
        </fieldset>

       <fieldset>
       <br>
       <div formGroupName="endereco" class="grid grid-cols-1 md:grid-cols-4 gap-1">
          <div class="md:col-span-4">
          <legend class="text-lg font-semibold text-indigo-700 border-b border-indigo-200 w-full pb-2 mb-6">Endereço completo</legend>
          </div>
          <div class="md:col-span-2 w-[120px] ">
            <label for="cep" class="block  text-sm font-medium text-gray-700">CEP</label>
            <input
                  id="cep"
                  type="text"
                  formControlName="cep"
                  (blur)="buscarCep()"
                  placeholder="Pesquisar"
                  inputmode="numeric"
                  mask="00.000-000"

                  maxlength="16"
                  class="w-full bg-transparent placeholder:text-slate-500 text-slate-700 text-lg border border-slate-200 rounded-md pr-3 pl-2 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                />
              <div *ngIf="loading" class="mt-1 text-blue-500 text-sm">Buscando endereço...</div>
              <div *ngIf="erroBusca" class="mt-1 text-red-500 text-sm">
                CEP inválido ou não encontrado. Verifique o número.
              </div>
              <div *ngIf="enderecoForm.get('cep')?.errors && enderecoForm.get('cep')?.touched" class="mt-1 text-red-500 text-sm">
                <span *ngIf="enderecoForm.get('cep')?.errors?.['required']">Obrigatório.</span>
                <span *ngIf="enderecoForm.get('cep')?.errors?.['pattern']">Formato inválido. Use 8 dígitos.</span>
              </div>
          </div>

          <div class="md:col-span-4">
          <div>
            <label for="logradouro" class="block text-sm font-medium text-gray-700">Rua/Logradouro</label>
            <input
              id="logradouro"
              type="text"
              formControlName="logradouro"
              class="mt-1 block w-full px-3 py-2 bg-gray-100 border border-gray-300 rounded-md shadow-sm cursor-not-allowed"
              readonly
            />
          </div>

          </div>
          <div class="md:col-span-1">
              <label for="numero" class="block text-sm font-medium text-gray-700">Número</label>
              <input
                id="numero"
                type="text"
                formControlName="numero"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
              />
              <div *ngIf="enderecoForm.get('numero')?.errors && enderecoForm.get('numero')?.touched" class="mt-1 text-red-500 text-sm">
                O número é obrigatório.
              </div>
          </div>

          <div class="md:col-span-3">
             <label for="complemento" class="block text-sm font-medium text-gray-700">Complemento (opcional)</label>
             <input
                id="complemento"
                type="text"
                formControlName="complemento"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
              />
          </div>



          <div class="md:col-span-2">
            <div>
              <label for="bairro" class="block text-sm font-medium text-gray-700">Bairro</label>
                <input
                  id="bairro"
                  type="text"
                  formControlName="bairro"
                  class="mt-1 block w-full px-3 py-2 bg-gray-100 border border-gray-300 rounded-md shadow-sm cursor-not-allowed"
                  readonly
                />
            </div>
          </div>
          <div class="md:col-span-2">
              <label for="cidade" class="block text-sm font-medium text-gray-700">Cidade</label>
              <input
                id="cidade"
                type="text"
                formControlName="cidade"
                class="mt-1 block w-full px-3 py-2 bg-gray-100 border border-gray-300 rounded-md shadow-sm cursor-not-allowed"
                readonly
              />
           </div>
           <div class=" w-16">
              <label for="uf" class="block text-sm font-medium text-gray-700">UF</label>
              <input
                id="uf"
                type="text"
                formControlName="uf"
                class="mt-1 block w-full px-3 py-2 bg-gray-100 border border-gray-300 rounded-md shadow-sm cursor-not-allowed"
                readonly
              />
          </div>
      </div>
      </fieldset>
      <div class="pt-4">
            <button type="submit"
              [disabled]="pessoaForm.invalid"
              class="w-full flex justify-center py-3 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:bg-gray-400 disabled:cursor-not-allowed"
              [ngClass]="{
                'bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500': pessoaForm.valid,
                'bg-gray-400 cursor-not-allowed': pessoaForm.invalid
              }"
            >
              Finalizar Cadastro
            </button>
      </div>
      <div class="mt-10 flex justify-end"> </div>
    </form>
  </div>
</div>

